::selection {
  background: #535;
  color: #ee7;
}

:root {
  background: #ee7;
  background-image: conic-gradient(skyblue, thistle, #ee7, plum, lightsalmon, violet);
  color: #535;
}

:any-link {
  color: #518;
}

:any-link:not(:focus) {
  box-shadow: 0 0 8em 1ch powderblue;
}