::selection {
  background: deepskyblue;
  color: #022;
}

:root {
  background: mistyrose;
  color: #123;
}

:link {
  color: mediumblue;
}

:visited {
  color: indigo;
}

mark {
  background: #308;
  color: coral;
}

@media (prefers-contrast: less) {
  :root {
    background: wheat;
  }
}

@media (prefers-contrast: more) {
  :root {
    background: seashell;
  }
}
