::selection {
  background: deepskyblue;
  color: #022;
}

:root {
  background: #212;
  color: mistyrose;
}

:link {
  color: aqua;
}

:visited {
  color: hotpink;
}

mark {
  background: #ee1;
  color: #111;
}

@media (prefers-contrast: less) {
  :root {
    background: #323;
    color: pink;
  }
}

@media (prefers-contrast: more) {
  :root {
    background: #101;
  }

  :visited {
    color: skyblue;
  }
}
